.logo{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

h1{
    text-align: center;
}

.box{
    background-color: red;
   height: 250px;
   width: 250px;
   display: flex;
   justify-content: center;
   align-items: center;


}

.wrapper{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.left{
    font-size: 50px;
}

.footer{
    display: flex;
    width: 100%;
    justify-content: space-around;
margin: 2px;
}